{% load static %}
	<script src="{% static "vendor/create/deps/jquery-1.7.1.min.js" %}"></script>
	<script src="{% static "vendor/create/deps/jquery-ui-1.8.18.custom.min.js" %}"></script>
	<script src="{% static "javascripts/jquery/jquery.cookie.js" %}"></script>
	<script src="{% static "vendor/create/deps/underscore-min.js" %}"></script>
	<script src="{% static "vendor/create/deps/backbone-min.js" %}"></script>
	<script src="{% static "vendor/create/deps/vie-min.js" %}"></script>
	<script src="{% static "vendor/create/deps/jquery.rdfquery.min.js" %}"></script>
	<script src="{% static "vendor/create/deps/annotate-min.js" %}"></script>
	<script src="{% static "javascripts/admin/aloha-settings.js" %}"></script>
	<script src="{% static "vendor/create/examples/create.js" %}"></script>

	<script src="http://requirejs.org/docs/release/2.0.4/minified/require.js"></script>
	 <!--Include Aloha Editor and load desired plugins -->
	<script src="http://cdn.aloha-editor.org/latest/lib/aloha.js"
	    data-aloha-plugins="common/ui,
				common/commands,
				common/format,
				common/table,
				common/list,
				common/link,
				common/block,
				common/undo,
				common/contenthandler,
				common/paste,
				common/abbr"></script>
	<link rel="stylesheet" href="http://cdn.aloha-editor.org/latest/css/aloha.css" />

	<link rel="stylesheet" href="{% static "vendor/create/themes/create-ui/css/create-ui.css" %}" />
	<link rel="stylesheet" href="{% static "vendor/create/themes/midgard-notifications/midgardnotif.css" %}" />
	<link rel="stylesheet" href="{% static "vendor/create/examples/font-awesome/css/font-awesome.css" %}" />

	<script src="{% static "javascripts/admin/live-edit-init.js" %}"></script>
