{% extends "admin/change_list.html" %}
{% load i18n admin_static admin_list %}
{% load url from future %}
{% load admin_urls %}
{% load chunkycms_admin %}
{% load devutils %}

{% block extrastyle %}
    {{ block.super }}

    <link rel="stylesheet" type="text/css" href="{% static "stylesheets/admin/page_change_list.css" %}" />
{% endblock %}

{% block extrahead %}
    <script type="text/javascript" src="{% static "admin/js/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "javascripts/admin/menu.js" %}"></script>
{% endblock %}

{% block result_list %}
  {% if action_form and actions_on_top and cl.full_result_count %}{% admin_actions %}{% endif %}
    {% if cl.query %}
        {% result_list cl %}
    {% else %}
	<div class="tree-container">
	{% hierarchy_tree "Chunk" %}
	</div>
    {% endif %}
  {% if action_form and actions_on_bottom and cl.full_result_count %}{% admin_actions %}{% endif %}
{% endblock %}
